@model CalculadoraModel

@{
}

<marquee> Practica clase 7 - Calculadora - Curso.Net - Ruben Benegas</marquee>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-success">Calculadora</h2>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal"  method="post">

                    <div class="form-group">
                        <div class="col-md-9 col-xs-9">
                            <input placeholder="Ingrese el numero 1..." class="form-control" type="number" name="numero1" value="@Model.Valor1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-xs-9">
                            <select class="form-control" name="operacion">
                                @if (Model.Oper == "suma")
                                {
                                    <option selected value="suma">Suma</option>
                                    <option value="resta">Resta</option>
                                    <option value="multiplicacion">Multiplicacion</option>
                                    <option value="division">Division</option>
                                }
                                else if (Model.Oper == "resta")
                                {
                                    <option value="suma">Suma</option>
                                    <option selected value="resta">Resta</option>
                                    <option value="multiplicacion">Multiplicacion</option>
                                    <option value="division">Division</option>
                                }
                                else if (Model.Oper == "multiplicacion")
                                {
                                    <option value="suma">Suma</option>
                                    <option value="resta">Resta</option>
                                    <option selected value="multiplicacion">Multiplicacion</option>
                                    <option value="division">Division</option>
                                }
                                else if (Model.Oper == "division")
                                {
                                    <option value="suma">Suma</option>
                                    <option value="resta">Resta</option>
                                    <option value="multiplicacion">Multiplicacion</option>
                                    <option selected value="division">Division</option>
                                }
                                else
                                {
                                    <option value="suma">Suma</option>
                                    <option value="resta">Resta</option>
                                    <option value="multiplicacion">Multiplicacion</option>
                                    <option value="division">Division</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-xs-9">
                            <input placeholder="Ingrese el numero 2..." class="form-control" type="number" name="numero2" value="@Model.Valor2" />
                        </div>
                    </div>

                    <button class="btn btn-lg btn-success" type="submit">Calcular</button>

                    @if (Model.Resultado != null)
                    {
                        <h3 class="text-danger">
                            <span class="text-warning">Resultado: </span>@Model.Resultado
                        </h3>
                    }
                    else
                    {
                        <h3 class="text-danger">@Model.Error</h3>
                    }

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2 class="text-success">Historial de calculos</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        @if (Model.Calculos.Count != 0)
                        {
                            if (Model.Calculos.Count > 5)
                            {
                                for (int i = 0; i < 5; i++)
                                {
                                    <tr>
                                        <td>@Model.Calculos[i]</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                foreach (var item in Model.Calculos)
                                {
                                    <tr>
                                        <td>@item</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

                @if (Model.Calculos.Count != 0)
                {
                    <a class="btn btn-md btn-danger" href="~/Home/Calculadora?limpiar=true">Borrar historial</a>
                }
            </div>
        </div>
    </div>
</div>