@model BlogPersonal.Models.Publicacion
@{
    Layout = "AdminLayout";
}
<div class="container">
    <h2>Formulario</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Titulo</label>
                    <input name="Titulo" class="form-control" value="@Model.Titulo" @ViewBag.Disabled required />
                </div>
                <div class="form-group">
                    <label class="control-label">Subtitulo</label>
                    <input name="Subtitulo" class="form-control" value="@Model.Subtitulo" @ViewBag.Disabled required />
                </div>
                <div class="form-group">
                    <label class="control-label">Autor</label>
                    <input name="Autor" class="form-control" value="@Model.Autor" @ViewBag.Disabled required />
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha</label>
                    <input name="Fecha" type="date" class="form-control" value="@Model.Fecha.ToShortDateString()" @ViewBag.Disabled required />
                </div>
                <div class="form-group">
                    <input type="submit" value="@ViewBag.Accion" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Administrador">Volver</a>
    </div>


</div>