@model Pregunta
    @{
        var color = "";
        switch (Model.Categoria)
        {
            case Categoria.Deportes:
                color = "Orange";
                break;
            case Categoria.Geografia:
                color = "Blue";
                break;
            case Categoria.Historia:
                color = "Yellow";
                break;
            case Categoria.Ciencias:
                color = "Green";
                break;
            case Categoria.Arte:
                color = "Red";
                break;
            case Categoria.Entretenimiento:
                color = "Pink";
                break;

        }

    }

<h3 style="background-color: @color; color: white;">@Model.Categoria</h3>

    <h4>@Model.Enunciado</h4>

<form action="" method="post">
    <input type="text" name="id" value="@Model.Id"  hidden/>
    @foreach (var r in Model.Respuestas)
    {
        <input type="radio" name="respuesta" value="@r.Id">@r.Enunciado <br />
    }

    <input type="submit" />
</form>


<h1>@ViewData["Respuesta"]</h1>

